<div class="talent-picture">
  <%= image_tag profile.picture_url, alt:"#{profile.first_name} #{profile.last_name}" %>
</div>
<div class="talent-info">
  <div class="talent-name">
    <h1><%= profile.first_name %> <%= profile.last_name %></h1>
  </div>
  <div class="talent-linkedin">
    <%= link_to "Visit me on LinkedIn!", talent.linkedin_url %>
  </div>
  <div class="talent-summary">
    <p>
      <%= profile.summary %>
    </p>
  </div>
</div>
