<div class="talent-header">
  <%= render "header" %>
</div>

<div class="talent-attributes">
  <div class="talent-skills">
    <h2>Skills </h2>
    <%= link_to "Edit Skill Levels",
      edit_talent_proficiency_list_path(@talent) %>
    <ul>
      <%= render @profile.proficiencies %>
    </ul>
  </div>
  <%= render "desire" %>
</div>

<%= render "cover_letter" %>

<%= render "resume" %>
