<div class="talent-header">
  <%= render "header" %>
</div>

<div class="talent-attributes">
  <%= render "skill" %>
  <%= render "desire" %>
</div>

<%= render "cover_letter" %>

<%= render "resume" %>
