<%= form_for @talent, url: talent_proficiencies_path(@talent), method: :patch do |form| %>
  <%= flash[:proficiencies_error] %>
  <%= form.fields_for :profile, @talent.profile do |p_fields| %>
    <% @proficiencies.each do |proficiency| %>
      <%= p_fields.fields_for :proficiencies, proficiency do |pr_fields| %>
        <div>
          <%= "#{proficiency.skill.name}:" %>
          <%= pr_fields.label(:level, "Beginner") %>
          <%= pr_fields.radio_button(:level, 1) %>
          <%= pr_fields.label(:level, "Intermediate") %>
          <%= pr_fields.radio_button(:level, 2) %>
          <%= pr_fields.label(:level, "Advanced") %>
          <%= pr_fields.radio_button(:level, 3) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>
