<div class="company-logo">
  <%= image_tag @profile.logo_url, alt:"#{@profile.name}" %>
</div>
<div class="company-basic-info">
  <h1><%= @profile.name %></h1>
  <p>
    <%= @profile.description %>
  </p>
</div>
<div class="company-contact-info">
  <p>
  <h3>Contact Info</h3>
    <ul>
      <li><%= @company.email %></li>
      <li>phone number</li>
      <li>
        <% @profile.locations.each do |location| %>
           Zip Code: <%= location.postal_code %>
        <% end %>
      </li>
    </ul>
  </p>
</div>
