<!DOCTYPE html>
<html>
<head>
  <title>Thes</title>

  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Clear+Sans:400,700">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class="outer-container">
    <header>
      <%= link_to "Thes", root_path, class: "header-name" %>
      <nav>
        <% if signed_in? %>
          <%= button_to "Sign Out", oauth_session_path, method: :delete %>
        <% else %>
          <%= button_to "Sign In with LinkedIn", linkedin_path %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </div>
</body>
</html>
